.input-group .form-control {
  width: 200% !important;
  margin-left: 30px !important;
}

#signupContainer {
  margin: 0 auto;
  width: 400px;
  padding: 30px;
  margin-top: 10rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
